
@model MVC.Models.Negocio.Usuario.OUsuario

@{
    ViewBag.Title = "Match Adoption";
    Layout = "~/Views/Shared/_MasterRecuperarPassword.cshtml";
}

<div class="panel-hold">
    <div class="panel panel-success">
        <div class="panel-heading"><h4>Recuperar contraseña</h4></div>
        @using (Html.BeginForm("RestablecerPassword", "Usuario", FormMethod.Post))
        {
            <div class="panel-body">
                <div class="row row-form">
                    <div class="col-sm-4">
                        <label>Nueva contraseña:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password", required = "required" })
                    </div>
                </div>
                <div class="row row-form">
                    <div class="col-sm-4">
                        <label>Confirmar contraseña:</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.ConfirmarPassword, new { @class = "form-control", @type = "password", required = "required" })
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-success">Aceptar</button>
            </div>
         }
    </div>
</div>
