
@using MVC.Models.Negocio.Test
@model MVC.Models.ViewModels.SolicitanteViewModel

@{
    ViewBag.Title = "RealizarTest";
    Layout = "~/Views/Shared/_MasterSolicitante.cshtml";
}
<script type="text/javascript">
    var tiempoRestante = '@TempData["TiempoTest"]';
</script>
<script type="text/javascript" src="~/Scripts/Pagina/Usuario/RealizarTest.js"></script>

<div class="row">
    <div class="col-md-4">
        <div class="timer">Tiempo restante: <span id="minRest"></span>:<span id="segRest"></span></div>
    </div>
</div>

<table id="grid" class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <tr>
            <th>Pregunta</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Test.Preguntas.Count; i++)
        {
            <tr>
                <td>@Model.Test.Preguntas[i].Pregunta</td>
                @for (int j = 0; j < Model.Test.Preguntas[i].Respuesta.Count; j++)
                {
                <td>@Html.RadioButtonFor(x => x.Test.Preguntas[i].Respuesta[j], "checked", new { @class = "form-control", @Name = "pregunta" + Model.Test.Preguntas[@i].IdPregunta.ToString(), required = "required" })</td>
                }
            </tr>
        }
        </tbody>
    </table>


