
@{
    ViewBag.Title = "Match Adoption";
    Layout = "~/Views/Shared/_MasterSolicitante.cshtml";
}

<script type="text/javascript">
        @Html.Raw(ViewBag.Mensaje)
</script>

<h2>Solicitante</h2>

