
@{
    ViewBag.Title = "Match Adoption";
    Layout = "~/Views/Shared/_MasterSolicitante.cshtml";
}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="~/Scripts/Pagina/Usuario/Solicitante.js"></script>
<script type="text/javascript">
    @Html.Raw(ViewBag.Mensaje)
    var urlListarTest = '@Url.Action("ListarTest", "Usuario")';
</script>

<div class="row">
    <div class="col-sm-6">
        <table id="tblTests" class="table table-striped table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>Fecha de aplicación</th>
                    <th>Estilo de crianza</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>

