
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_MasterSolicitante.cshtml";
}
<script type="text/javascript">
    var urlSetTest = '@Url.Action("SetTest", "Usuario")';
    var urlSetTimeTest = '@Url.Action("SetTimeTest", "Usuario")';
    var urlContestarTest = '@Url.Action("ContestarTest", "Usuario")';
</script>
<script type="text/javascript" src="~/Scripts/Pagina/Usuario/Test.js"></script>

<div class="row center">
    <div class="col-md-4">
        <div class="timer">Tiempo restante: <span id="minRest"></span>:<span id="segRest"></span></div>
    </div>
</div>
<div class="row center">
    <div class="col-sm-12 text-left">
        <table id="tblTest" class="table table-striped table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Pregunta</th>
                    <th>Respuesta</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 text-right">
        <button type="button" id="finalizarTest" class="btn btn-success">Finalizar</button>
    </div>
</div>


