body {
    background-color: #fff;
}

.main {
    overflow: hidden;
    width: 100%;
}

.gray-row {
    border-top-color: #eee;
    border-top-style: solid;
}

.panel-hold {
    margin: auto;
    width: 45%;
    border: 5px;
    padding: 50px;
}

.center {
    margin: auto;
    width: 60%;
    border: 5px;
    padding: 10px;
}

#grafica {
    width: 70%;
}

.cols-stats {
    padding: 20px 35px 0px 35px;
}

.navbar-inverse {
    background-color: #eee;
    border-color: #bfd83f;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #101010;
    }

.logo-barra {
    width: 165px;
    height: auto;
    margin-top: 3px;
    margin-left: 4px;
}

.logo-barra-circular {
    width: 40px;
    height: auto;
    margin-top: 4px;
    margin-left: 4px;
}

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
    color: black;
    background-color: #eaeaea;
    padding: 20px;
}

.panel-body {
    padding: 20px;
}

.row-form {
    padding: 10px;
}

.loader {
    border: 16px solid #2f5fb5;
    border-radius: 50%;
    border-top: 16px solid #eaeaea;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.odd {
    color: #333333 !important;
    background-color: #eaeaea !important;
}

.reCaptchaContainer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #bfd83f;
}

a {
    color: #333;
    text-decoration: none;
}

.nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
    color: #333;
}

.timer {
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}
