body{
    background-color: #fff;
}

.navbar-inverse {
    background-color: #eee;
    border-color: #bfd83f;
}

.navbar-inverse .navbar-nav > li > a {
    color: #101010;
}

.logo-barra {
    width: 165px;
    height: auto;
    margin-top: 3px;
    margin-left: 4px;
}

.logo-barra-circular {
    width: 40px;
    height: auto;
    margin-top: 4px;
    margin-left: 4px;
}

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
    color: black;
    background-color: #eaeaea;
    padding: 20px;
}

.panel-body{
    padding: 20px;
}

.row-form{
    padding: 10px;
}

.boxSlider{
    color: #fff;
}

.main {
    padding-top: 20px;
    width: 65%;
    margin: auto;
    overflow: hidden;
}

.loader {
    border: 16px solid #2f5fb5;
    border-radius: 50%;
    border-top: 16px solid #eaeaea;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.odd {
    color: #333333 !important;
    background-color: #eaeaea!important;
}

.slider {
    position: relative
}

    .slider .slider-parent {
        padding: 0;
        display: flex
    }

        .slider .slider-parent .images-list {
            background-size: cover;
        }

            .slider .slider-parent .images-list:first-of-type, .slider .slider-parent .images-list:last-of-type {
                background-image: url(https://images.pexels.com/photos/462146/pexels-photo-462146.jpeg)
            }

            .slider .slider-parent .images-list:nth-of-type(2) {
                background-image: url(https://images.pexels.com/photos/268261/pexels-photo-268261.jpeg)
            }

            .slider .slider-parent .images-list:nth-of-type(3) {
                background-image: url(https://images.pexels.com/photos/1107717/pexels-photo-1107717.jpeg)
            }

            .slider .slider-parent .images-list:nth-of-type(4) {
                background-image: url(https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg)
            }

            .slider .slider-parent .images-list:nth-of-type(5) {
                background-image: url(https://images.pexels.com/photos/462162/pexels-photo-462162.jpeg)
            }

    .slider .buttom-circles {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        bottom: 10px
    }

        .slider .buttom-circles .buttom-circles-list {
            display: inline-block
        }

            .slider .buttom-circles .buttom-circles-list:hover .fa:before, .slider .buttom-circles .buttom-circles-list.slider-active .fa:before {
                content: "\f111";
            }

    .slider > .fa {
        position: absolute;
        top: 45%
    }

        .slider > .fa:first-of-type {
            right: 5px
        }

        .slider > .fa:last-of-type {
            left: 5px
        }

    .slider .fa {
        text-shadow: 5px 5px 5px #555;
        cursor: pointer
    }

@media(min-width: 100px) and (max-width: 767px) {
    .slider > .fa {
        font-size: 25px
    }

    .slider .buttom-circles .buttom-circles-list {
        visibility: hidden
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .slider > .fa {
        font-size: 50px
    }

    .slider .buttom-circles .buttom-circles-list {
        visibility: hidden
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .slider > .fa {
        font-size: 75px
    }

    .slider .buttom-circles .buttom-circles-list {
        font-size: 17px
    }
}

@media(min-width: 1200px) {
    .slider > .fa {
        font-size: 100px
    }

    .slider .buttom-circles .buttom-circles-list {
        font-size: 25px
    }
}

.reCaptchaContainer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #bfd83f;
}

a {
    color: #333;
    text-decoration: none;
}

.nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
    color: #333;
}

.timer {
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}