
@{
    ViewBag.Title = "Match Adoption";
    Layout = "~/Views/Shared/_MasterRecuperarPassword.cshtml";
}
<script type="text/javascript" src=""></script>

<div class="panel-hold">
    <div class="panel panel-success">
        <div class="panel-heading"><h4>Recuperar contraseña</h4></div>
        <div class="panel-body">
            <div class="row row-form">
                <div class="col-sm-4">
                    <label>Correo electrónico:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control Correo" name="txtCorreoElectronico" required />
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button type="button" class="btn btn-success">Aceptar</button>
        </div>
        </div>
</div>

